DATABASE_URL="mysql://root:rpassword@localhost:3306/std-manage"
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_USER=root
DATABASE_PASSWORD=
DATABASE_NAME=std-manage
JWT_SECRET="secret_key"
JWT_EXPIRY="1d"